@media ( max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      &-container
        width: 590px
  .activity
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
    &__categories
      margin-left: 0
    &__legal
      margin-left: 30px
  .packages
    &-wrapper
      grid-template-columns: 1fr 1fr
    &-card
      width: 100%
      &__block
        &-image
          width: 100%
          &--big
            width: 50%
      &__inform
        &--big
          width: 50%
          padding: 50px 30px 50px 50px
      &__info
        &--big
          display: flex
          height: 100%
          flex-direction: column
          justify-content: space-between

@media ( max-width: 992px)
  .container
    max-width: 700px
  .header
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
      max-width: 340px
  .logo
    width: 133px
  .navbar
    &-menu
      padding: 22px 0 23px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &__additional-info
      width: 100%
      min-height: 213px
      flex-direction: row
      justify-content: space-between
    &__slider
      &-container
        width: 100%
  .slider
    width: 100%
  .booking,
  .map
    width: 340px
  .booking
    height: 213px
    &-button
      padding: 13px 79px
  .reviews
    padding: 40px 0 60px
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        width: 579px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
  .activity
    width: 48.5%
    height: 255px
    margin-bottom: 20px
    &-text
      max-width: 200px
  .newsletter
    &-wrapper
      justify-content: space-between
    &__search
      margin-left: 0

  .footer
    padding: 50px 0 33px
    &-content
      grid-gap: 14px
      grid-template-columns: repeat(4, minmax(min-content, 1fr))
      margin-bottom: 59px
    &__logo
      grid-row: 1/2
      padding: 0
      margin: 0
      margin-top: -10px
      &-img
        width: 96px
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
        margin-left: 5px
    &__categories,
    &__additional
      grid-row: 2/3
    &__contact-details
      grid-row: 3/4
      grid-column: 1/5
    &__contacts-form
      grid-row: 4/5
      grid-column: 1/5
    &__additional
      margin-left: 19px
      grid-column: 2/4
    &__legal
      margin-left: -31px
    &__contact-details
      margin-top: 47px
    &__contacts
      &-form
        margin: 0
        margin-top: 23px
        grid-column: 1/5
        max-width: 78%
    &__form
      margin-left: -2px
    &__input
      flex-basis: 47%
    &__block
      justify-content: space-between
      &-list
        margin: 0
  .packages
    &-card
      &__inform
        &--big
          padding: 40px 30px 30px 30px
  .modal
    overflow-y: hidden
    &__dialog
      padding: 30px 70px

@media ( max-width: 910px)
  .modal
    &__dialog
      padding: 28px 64px
    &__btn
      &-block
        flex-direction: column
    &__button
      margin-bottom: 15px

@media ( max-width: 768px)
  body
    padding-top: 82px
  .container
    max-width: 576px
    width: 92%
  .header
    &--mb
      &--fixed
        position: fixed
        width: 100%
        top: 0
        left: 0
        right: 0
        z-index: 99
        box-shadow: 1px 1px 10px #e4dcdc
    &__search,
    &__user
      &--mb
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      align-items: center
      margin-top: 8px
    &__search
      width: 72%
      margin-bottom: 23px
    &-top
      background-color: #fff
      &__mb
        display: block
        padding: 0
        cursor: pointer
        border: none
        outline: none
        background-color: transparent
        padding: 10px
        &-line
          display: block
          position: relative
          width: 16px
          height: 1px
          background-color: $text-color
          &::before,
          &::after
            position: absolute
            content: ""
            width: 100%
            height: 1px
            top: 4px
            left: 0
            background-color: $text-color
            transition: .3s
          &::after
            top: -4px
          &.active
            background-color: transparent
            &::before
              transform: rotate(45deg)
              top: 0
            &::after
              transform: rotate(-45deg)
              top: 0
  .user
    margin-bottom: 7px
    &__name
      margin-left: 0
      margin-top: 10px
      color: #fff
  .navbar
    display: none
    position: fixed
    top: 82px
    right: 0
    bottom: 0
    left: 0
    z-index: 100
    &-menu
      &__list
        flex-direction: column
        align-items: center
      &__item
        margin-bottom: 17px
        &--mb
          &--visible
            display: flex
  .hotel
    &-rating
      display: none
    &-title
      flex-basis: 100%
      margin-top: 10px
    &-info
      width: 100%
      &__wrapper
        justify-content: space-between
      &__offer
        order: -1
        margin: 0
    &__additional-info
      flex-direction: column
      min-height: 460px
  .rating
    flex-basis: auto
    svg
      margin-right: 0
      margin-left: -2px
  .swiper
    &-container
      width: 100%
      max-height: 350px
  .booking,
  .map
    width: 100%
  .newsletter
    padding: 76px 0 83px
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &__search
      margin-left: 0
      margin-top: 37px
  .reviews
    padding: 40px 0 50px
    &__title
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        width: 579px
        padding: 0 33px 36px 29px
        &::before, &::after
          display: none
    &-slider
      &__item
        width: 100%
      &__text
        padding: 0
    &-btn
      top: 32px
      &_prev
        left: 30px
        transform: translate( 0, 0)
      &_next
        right: 30px
        transform: translate( 0, 0)
  .footer
    &__input
      flex-basis: 100%
  .packages
    padding: 0 0 50px
    &-title
      font-size: 34px
      margin-bottom: 40px
    &-wrapper
      grid-template-rows: 1fr
      gap: 15px
    &-card
      height: 450px
      &--big
        height: 450px
      &__block-image
        height: 50%
        &--big
          height: 450px
      &__inform
        padding: 15px 15px 20px
        &--big
          padding: 30px
      &__title
        &--big
          margin-bottom: 7px
      &__text
        &--big
          font-size: 12px
          line-height: 150.6%
          margin-bottom: 18px
      &__btn
        padding: 8px 19px
        &--big
          padding: 8px 19px
    &__price
      &-old
        font-size: 12px
        margin-bottom: 0
        &--big
          font-size: 14px
      &-new
        font-size: 20px
        &--big
          font-size: 22px
  .modal
    &__dialog
      padding: 28px 58px
      max-width: 560px
    &__btn
      &-block
        flex-direction: column
    &__button
      width: 100%
      margin-bottom: 15px

@media ( max-width: 576px)
  .container
    width: 88%
  .logo
    width: 99px
    svg
      width: 100%
  .header-top
    padding: 24px 0
  .breadcrumb
    &-list
      padding: 21px 0 6px
  .descr
    max-width: 50%
  .slider
    margin-bottom: 20px
  .navbar
    top: 70px
  .hotel
    &__slider
      &-container
        max-height: 179px
  .booking
    &-button
      padding: 13px 0
  .newsletter
    &__subtitle
      font-size: 20px
      line-height: 25px
      margin-bottom: 5px
    &__title
      font-size: 30px
      line-height: 38px
    &__search
      width: 100%
    &__button
      padding: 0
      min-width: 65px
  .reviews
    padding: 40px 0 50px
    &__title
      padding: 0 39px

  .activities
    padding: 40px 0
    &__title
      margin-bottom: 36px
    &-wrapper
      flex-wrap: wrap
  .activity
    width: 100%
    height: 255px
    margin-bottom: 20px
    &-text
      max-width: 200px
  .footer
    padding: 45px 0 55px
    &-content
      grid-template-columns: 1fr
    &__logo
      grid-column: 1
      grid-row: 1
    &__categories
      grid-column: 1
      grid-row: 5
      margin-top: 16px
    &__social
      &-network
        grid-column: 1
        grid-row: 2
        margin-left: 0
        display: block
        margin-top: -8px
      &-links
        margin-top: 21px
      &-link
        margin-left: 0
        margin-right: 11px
    &__title
      &--inline
        margin: 0
    &__additional
      grid-column: 1
      grid-row: 4
      margin-left: 0
      margin-top: 16px
    &__legal
      grid-column: 1
      grid-row: 3
      margin-left: 0
      margin-top: 15px
    &__contact
      &-details
        grid-column: 1
        grid-row: 6
        margin-top: 27px
        margin-left: -2px
    &__contacts
      &-form
        grid-column: 1
        grid-row: 7
        max-width: 81%
        margin-left: -1px
        margin-top: 22px
    &__form
      margin-left: 0
      margin-top: 15px
    &__item
      &-icon
        width: 20px
        margin-right: 15px
        &--mr-1
          margin-right: 14px
        &--mr-2
          width: 40px
          margin-left: -6px
          margin-right: 8px
        &--mr-3
          margin-left: -4px
          margin-right: 9px
    &__subtitle
      max-width: 82%
      margin-top: 24px
    &__ul
      margin-top: 19px
      max-width: 82%
      &-item
        max-width: 98%
        &--mb-20
          margin-bottom: 22px
    &__btn
      &-block
        display: flex
        flex-direction: column-reverse
        align-items: flex-start
    &__message
      margin-bottom: 13px
    &__button
      margin-top: 16px
    &-content
      margin-bottom: 28px
    &-cards
      left: 0
      right: auto
      top: 31px
    &__input
      &_group
        flex-basis: 100%
  .packages
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, min-content)
    &-card
      grid-column: 1
      &--big
        flex-direction: column
        width: 100%
        height: 600px
      &__block-image
        &--big
          width: 100%
          height: 40%
      &__inform
        &--big
          width: 100%
          height: 60%
          border-radius: 0px 0px 8px 8px
  .modal
    &__dialog
      padding: 25px 30px
      max-width: 80%
@media ( max-width: 450px)
  .packages
    &-card__text
      &--big
        margin-bottom: 12px
    &-room
      &--big
        margin-bottom: 10px
@media ( max-width: 354px)
  .packages-card
    height: 500px
    &__text--big
      display: none
    &__block-image
      &--big
        height: 50%
    &__inform
      &--big
        height: 50%
